version: 2.1
orbs:
  browser-tools: circleci/browser-tools@2.3.2
  codecov: codecov/codecov@5.4.3
jobs:
  build:
    working_directory: ~/ngx-speculoos
    docker:
      - image: cimg/node:24.11.1-browsers
    steps:
      - browser-tools/install_chrome
      - checkout
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm build
      - run: pnpm tsd
      - run: pnpm demotest
      - run: pnpm demobuild
      - run: pnpm doc
      - codecov/upload
