version: 2 # use CircleCI 2.0
jobs:
  build:
    working_directory: ~/ngx-speculoos

    docker:
      - image: circleci/node:14-browsers

    branches:
      ignore:
        - gh-pages

    steps:
      - checkout
      - run: yarn
      - run: yarn lint
      - run: yarn test
      - run: yarn build
      - run: yarn tsd
      - run: yarn demotest
      - run: yarn demobuild
      - run: yarn doc
      - run: yarn codecov
